body{

}
.text{
    color: blueviolet;
    font-size: 1em;
}
.text2{
    color:darkorchid;
    font-size: 2em;
    font-family: 'Sarabun', sans-serif;
}
p{
    color: green;
    font-family: 'Sarabun', sans-serif;
}